.example-container {
    text-align: center;
    overflow: auto;
}

.customTable {
    width: 100%;
}

.actionButtons {
    margin: .25em;
}

.mat-cell {
    padding: 0 1em;
}

.mat-header-cell {
    text-align: center;
    padding: 0 1em;
    font-weight: bold;
}

.mat-table-sticky-border-elem-left {
    border-right: 1px solid #e0e0e0;
}

.testClass {
    padding: 12em;
}

.inputIcons {
    padding: .65rem .75rem;
}

.loginOr {
    /* font-size: 1.5em; */
    color: #aaa;
}

.hrLineOr {
    background-color: #aaa;
    height: 1px;
    margin-bottom: 0px !important;
    margin-left: 10%;
    width: 80%;
}

.customSwitch {
    width: 3em;
    height: 1.5em;
    margin-top: 0;
    margin-right: 1em;
    margin-bottom: 0em;
}

.cardHeader{
    font-size: 150%;
}

.allScheduleSwitch{
    float: right;
}

.formCheckBoxLabel{
    font-size: 110%;
}