<div class="container-fluid">
    <div class="row my-3">
        <div class="col-12 col-md-6 col-lg-4 mb-3">
            <div class="card">
                <div class="card-header bg-info">
                    <label class="cardHeader">Basic Details</label>
                </div>
                <div class="card-body">
                    <div class="input-group">
                        <div class="input-group-append">
                            <span class="input-group-text inputIcons" data-toggle="tooltip" data-placement="top"
                                title="Enter unique username"><i class="fas fa-heading"></i></span>
                        </div>
                        <input type="text" class="form-control" id="inputFirstName" placeholder="Package Title"
                            name="firstName" ngModel #firstNameInput="ngModel" pattern="^[A-Za-z]{3,30}$" required>
                    </div>
                    <div class="input-group mt-3">
                        <div class="input-group-append">
                            <span class="input-group-text inputIcons" data-toggle="tooltip" data-placement="top"
                                title="Enter unique username"><i class="fas fa-scroll"></i></span>
                        </div>
                        <textarea class="form-control" placeholder="Description" rows="3"></textarea>
                    </div>
                    <div class="input-group mt-3">
                        <div class="input-group-append">
                            <span class="input-group-text inputIcons" data-toggle="tooltip" data-placement="top"
                                title="Enter the Date the course will End"><i class="fas fa-hourglass-end"></i></span>
                        </div>
                        <input class="form-control" placeholder="Course End Date" name="dp" [(ngModel)]="model"
                            ngbDatepicker #d1="ngbDatepicker">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" (click)="d1.toggle()" type="button">
                                <i class="fas fa-calendar"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-3">
            <div class="card">
                <div class="card-header bg-info">
                    <label class="cardHeader">Time</label>
                </div>
                <div class="card-body">
                    <div class="input-group">
                        <div class="input-group-append">
                            <span class="input-group-text inputIcons" data-toggle="tooltip" data-placement="top"
                                title="Enter unique username"><i class="fas fa-clock"></i></span>
                        </div>
                        <input type="number" class="form-control" id="inputFirstName" placeholder="Weekly Hours"
                            name="firstName" ngModel #firstNameInput="ngModel" pattern="^[0-9\.]$" required>
                    </div>
                    <div class="row">
                        <div class="col-12" style="text-align: center">
                            <hr class="hrLineOr">
                            <span class="loginOr">or</span>
                        </div>
                    </div>
                    <div class="input-group mt-2">
                        <div class="input-group-append">
                            <span class="input-group-text inputIcons" data-toggle="tooltip" data-placement="top"
                                title="Enter unique username"><i class="fas fa-clock"></i></span>
                        </div>
                        <input type="number" class="form-control" id="inputFirstName" placeholder="Monthly Hours"
                            name="firstName" ngModel #firstNameInput="ngModel" pattern="^[0-9\-]$" required>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-3">
            <div class="card">
                <div class="card-header bg-info">
                    <label class="cardHeader">Cost</label>
                </div>
                <div class="card-body">
                    <div class="input-group">
                        <div class="input-group-append">
                            <span class="input-group-text inputIcons" data-toggle="tooltip" data-placement="top"
                                title="Enter unique username"><i class="fas fa-rupee-sign"></i></span>
                        </div>
                        <input type="number" class="form-control" id="inputFirstName" placeholder="Cost / Hour"
                            name="firstName" ngModel #firstNameInput="ngModel" pattern="^[0-9\.]$" required>
                    </div>
                    <div class="row">
                        <div class="col-12" style="text-align: center">
                            <hr class="hrLineOr">
                            <span class="loginOr">or</span>
                        </div>
                    </div>
                    <div class="input-group mt-2">
                        <div class="input-group-append">
                            <span class="input-group-text inputIcons" data-toggle="tooltip" data-placement="top"
                                title="Enter unique username"><i class="fas fa-rupee-sign"></i></span>
                        </div>
                        <input type="number" class="form-control" id="inputFirstName" placeholder="Cost / Week"
                            name="firstName" ngModel #firstNameInput="ngModel" pattern="^[0-9\-]$" required>
                    </div>
                    <div class="row">
                        <div class="col-12" style="text-align: center">
                            <hr class="hrLineOr">
                            <span class="loginOr">or</span>
                        </div>
                    </div>
                    <div class="input-group mt-2">
                        <div class="input-group-append">
                            <span class="input-group-text inputIcons" data-toggle="tooltip" data-placement="top"
                                title="Enter unique username"><i class="fas fa-rupee-sign"></i></span>
                        </div>
                        <input type="number" class="form-control" id="inputFirstName" placeholder="Cost / Month"
                            name="firstName" ngModel #firstNameInput="ngModel" pattern="^[0-9\-]$" required>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-3">
            <div class="card">
                <div class="card-header bg-info">
                    <div class="form-check form-switch">
                        <input class="form-check-input customSwitch" type="checkbox" id="courseSwitch"
                            [(ngModel)]="courseEnabler">
                        <label class="form-check-label cardHeader" for="courseSwitch">Course</label>
                    </div>
                </div>
                <div class="card-body">
                    <div class="input-group">
                        <div class="input-group-append">
                            <span class="input-group-text inputIcons" data-toggle="tooltip" data-placement="top"
                                title="Enter unique username"><i class="fas fa-business-time"></i></span>
                        </div>
                        <input type="number" class="form-control" id="inputFirstName" placeholder="Duration in Weeks"
                            [disabled]="!courseEnabler" name="firstName" ngModel #firstNameInput="ngModel"
                            pattern="^[0-9]$">
                    </div>
                    <div class="form-check form-switch mt-3">
                        <input class="form-check-input" checked type="checkbox" id="courseMiddle"
                            [disabled]="!courseEnabler">
                        <label class="form-check-label formCheckBoxLabel" for="courseMiddle">Can Join in middle of the
                            Course</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-9 col-lg-7 mb-3">
            <div class="card">
                <div class="card-header bg-info">
                    <div class="form-check form-switch">
                        <input class="form-check-input customSwitch" type="checkbox" id="scheduleSwitch"
                            [(ngModel)]="scheduleEnabler">
                        <label class="form-check-label cardHeader" for="scheduleSwitch">Schedule</label>
                    </div>
                </div>
                <div class="card-body">
                    <div class=mx-3>
                        <div class="form-check form-switch allScheduleSwitch my-3">
                            <input class="form-check-input" type="checkbox" id="allSchedule"
                                [disabled]="!scheduleEnabler">
                            <label class="form-check-label formCheckBoxLabel" for="allSchedule">Anyone can add
                                Batch</label>
                        </div>
                        <button class="btn btn-success my-3" (click)="addPackOccurence()">
                            <i class="fas fa-plus-square"></i>&nbsp;Add Batch
                        </button>
                    </div>
                    <div class="accordion">
                        <div class="accordion-item" *ngFor="let map of mapData | keyvalue; index as i">
                            <div class="accordion-header" id="{{'heading'+i}}">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    [disabled]="!scheduleEnabler" [attr.data-bs-target]="'#collapse'+i"
                                    aria-expanded="false" [attr.aria-controls]="'collapse'+i">
                                    {{map.key || 'Batch' +i}}
                                </button>
                            </div>
                            <div id="{{'collapse'+i}}" class="accordion-collapse collapse"
                                [attr.aria-labelledby]="'heading'+i" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <div class="input-group">
                                        <div class="input-group-append">
                                            <span class="input-group-text inputIcons" data-toggle="tooltip"
                                                data-placement="top" title="Enter unique username"><i
                                                    class="fas fa-chalkboard"></i></span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Batch Name"
                                            [ngModel]="map.key" (change)="onMapKeyChange($event.target.value,map.key)" pattern="^[A-Za-z0-9_ ]$" required>
                                        <button class="btn btn-success" style="margin-left:1em;"
                                            (click)="openModal()">
                                            <i class="fas fa-plus"></i>&nbsp;Add
                                        </button>
                                    </div>


                                    <div class="example-container">
                                        <table mat-table [dataSource]="map.value" class="customTable">

                                            <!-- Name Column -->
                                            <ng-container matColumnDef="actions" sticky>
                                                <th mat-header-cell *matHeaderCellDef> Actions </th>
                                                <td mat-cell *matCellDef="let element; let j = index">
                                                    <button class="btn btn-secondary actionButtons"
                                                        (click)="editOccurence(map.key,j)">
                                                        <i class="fas fa-pen"></i>
                                                    </button>
                                                    <button class="btn btn-danger actionButtons"
                                                        (click)="deleteOccurence(map.key,j)">
                                                        <i class="fas fa-trash-alt"></i>
                                                    </button>
                                                </td>
                                            </ng-container>

                                            <!-- Position Column -->
                                            <ng-container matColumnDef="from">
                                                <th mat-header-cell *matHeaderCellDef> From </th>
                                                <td mat-cell *matCellDef="let element"> {{element.fromTime}} </td>
                                            </ng-container>

                                            <!-- Weight Column -->
                                            <ng-container matColumnDef="to">
                                                <th mat-header-cell *matHeaderCellDef> To </th>
                                                <td mat-cell *matCellDef="let element"> {{element.toTime}} </td>
                                            </ng-container>

                                            <!-- Symbol Column -->
                                            <ng-container matColumnDef="day">
                                                <th mat-header-cell *matHeaderCellDef> Day </th>
                                                <td mat-cell *matCellDef="let element"> {{element.day}} </td>
                                            </ng-container>

                                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-12 col-md-1 mb-3">
            <button class="btn btn-primary btn-lg">Submit</button>
        </div>
    </div>
</div>