.socialBtn a {
  color: white;
  opacity: 0.9;
}

.socialBtn a:hover {
  color: white;
  opacity: 1;
}

.loginMainDiv {
  margin-top: 10rem;
}

.loginDiv{
  text-align: center;
  background-color: beige;
}

.facebookBtn {
  background: #3b5998;
}

.googleBtn {
  background: #c32f10;
}

.loginOr {
  font-size: 1.5em;
  color: #aaa;
}

.hrLineOr {
  background-color: #aaa;
  height: 1px;
  margin-bottom: 0px !important;
}

.inputIcons {
  padding: .650rem .75rem;
}
.forgotPwd{
  text-align: center;
}