<mat-drawer-container [hasBackdrop]="true" fullscreen>
  <!--todo: use bootstrap offcanvas instead of mat drawer-->
  <mat-drawer #drawer mode="push">
    <span style="position: absolute; right: 0;z-index: 9;" (click)="drawer.toggle()">
      <i class="far fa-times-circle fa-2x"></i>
    </span>
    <mat-list role="list">
      <mat-list-item role="listitem" style="cursor: pointer;" (click)="clickLogin(drawer)">
        <span class="fas fa-door-open fa-2x settingList"></span>
        <span class="settingsTitle">Login</span>
      </mat-list-item>
      <mat-list-item role="listitem"><strong>Settings</strong></mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item role="listitem" (click)="clickHome(drawer)">
        <span class="fas fa-globe fa-2x settingList"></span>
        <span class="settingsTitle">Change Language</span>
      </mat-list-item>
      <mat-list-item role="listitem">
        <span class="fas fa-adjust fa-2x settingList"></span>
        <span class="settingsTitle">Dark Mode</span>
        <mat-slide-toggle [checked]="checked"
          [ngStyle]="checked ? '@import \'~@angular/material/prebuilt-themes/indigo-pink.css\'' : ''">
        </mat-slide-toggle>
      </mat-list-item>
      <mat-list-item role="listitem">
        <span class="fas fa-phone-square fa-2x settingList"></span>
        <span class="settingsTitle">Contact us</span>
      </mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content style="overflow-x: hidden;">
    <nav class="navbar navbar-dark bg-primary">
      <button class="navbar-toggler" type="button" (click)="drawer.toggle()" *ngIf="barIcon">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- (click)="drawer.toggle()" -->
      <button class="btn" type="button" *ngIf="!barIcon" (click)="backMenuIcon()">
        <i class="fas fa-arrow-left"></i>
      </button>
      <a class="navbar-brand" [routerLink]="'/'" routerLinkActive="router-link-active">GyanGod</a>
      <!-- <button type="button" class="profileButton"><span class="fas fa-user-circle fa-2x"></span></button> -->
      <button type="button" class="btn btn-info" [routerLink]="'/signup'" routerLinkActive="router-link-active">
        <i class="fas fa-sign-in-alt"></i>
      </button>
      <!-- <button type="button" class="btn btn-info">Signup</button> -->
    </nav>

    <router-outlet></router-outlet>

    <nav class="navbar navbar-dark bg-dark custom-bottom-nav fixed-bottom" *ngIf="bottomPanel">
      <!--fixed-bottom-->
      <div class="nav-item custom-bottom-div">
        <a href="/home">
          <i class="fas fa-home fa-2x"></i>
          <span class="icon-help-bottom">Home</span>
        </a>
      </div>
      <div class="nav-item custom-bottom-div">
        <a href="/home">
          <i class="far fa-calendar fa-2x"></i>
          <span class="icon-help-bottom">Calendar</span>
        </a>
      </div>
      <div class="nav-item custom-bottom-div">
        <a href="/home">
          <i class="fas fa-users fa-2x"></i>
          <span class="icon-help-bottom">Classes</span>
        </a>
      </div>
    </nav>
  </mat-drawer-content>
</mat-drawer-container>