<div class="container">
  <ul class="timeline">
    <li class="listItem complete">
      <div class="status"></div>
    </li>
    <li [ngClass]="status!=1 ? 'complete' : ''" class="listItem">
    <div class="status"></div>
    </li>
    <li [ngClass]="status==3 ? 'complete' : ''" class="listItem">
      <div class="status" style="border-top: none;"></div>
    </li>
  </ul>
  <div [hidden]="status!=1">
    1st one
  </div>
  <div [hidden]="status!=2">
    12st one
  </div>
  <div [hidden]="status!=3">
    113st one
  </div>
  <div>
    <div class="leftBottomButton">
      <button class="btn btn-primary" (click)="previousStatus()" [hidden]="status==1">Previous</button>
    </div>
    <div class="rightBottomButton">
      <button class="btn btn-primary" (click)="nextStatus()" [hidden]="status==3">Next</button>
      <button class="btn btn-success" [hidden]="status!=3">Finish</button>
    </div>
  </div>
</div>
<!-- <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
  <div class="signUpMainDiv">
    <h3>Already a member?</h3>
    <button class="btn btn-outline-secondary" [routerLink]="'/login'"
      routerLinkActive="router-link-active">Login</button>
  </div>
  <form>
    <div class="signUpBodyDiv">
      <div class="form-group divUsername">
        <label for="inputUsername">Username</label>
        <input type="text" class="form-control" id="inputUsername" placeholder="Enter Username">
      </div>
      <div class="form-group divFirstName">
        <label for="inputFirstName">First Name</label>
        <input type="text" class="form-control" id="inputFirstName" placeholder="Enter Name">
      </div>
      <div class="form-group divLastName">
        <label for="inputLastName">Last Name</label>
        <input type="text" class="form-control" id="inputLastName" placeholder="Enter Surname">
      </div>
      <div class="form-group">
        <label for="inputEmail">Email address</label>
        <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter Email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group divCountryCode">
        <label for="inputCountryCode">Country Code</label>
        <input type="text" class="form-control" id="inputCountryCode" placeholder="Ex: +91">
      </div>
      <div class="form-group divContactNumber">
        <label for="inputPhoneNumber">Contact Number</label>
        <input type="text" class="form-control" id="inputPhoneNumber" placeholder="Enter Contact Number">
      </div>
      <div class="form-group divPassword">
        <label for="inputPassword">Password</label>
        <div class="input-group-append">
          <input [type]="fieldTextType ? 'text' : 'password'" class="form-control" id="inputPassword"
            placeholder="Enter Password">
          <span class="input-group-text" (click)="toggleFieldTextType()">
            <i class="fa" [ngClass]="{'fa-eye-slash': !fieldTextType, 'fa-eye': fieldTextType }"></i>
          </span>
        </div>
      </div>
      <div class="form-group divPassword">
        <label for="inputConfirmPassword">Confirm Password</label>
        <input type="password" class="form-control" id="inputConfirmPassword" placeholder="Enter Password Again">
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="termsCheck">
        <label class="form-check-label" for="termsCheck">
          I accept<button class="btn btn-link">Terms and Condition</button>
        </label>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div> -->
