<div class="container signUpMainDiv">
  <div class="card row">
    <div class="card-body">
      <div class="signUpUpperDiv">
        <h3>Already a member?</h3>
        <button class="btn btn-outline-secondary" [routerLink]="'/login'"
          routerLinkActive="router-link-active">Login</button>
      </div>
      <form #registerForm="ngForm" ngNativeValidate (ngSubmit)="onRegister(registerForm.value)">
        <div class="offset-md-2 col-md-8 offset-lg-3 col-lg-6 col-12">
          <!-- userName -->
          <div class="input-group mt-3">
            <div class="input-group-append">
              <span class="input-group-text inputIcons" data-toggle="tooltip" data-placement="top"
                title="Enter unique username"><i class="fas fa-user"></i></span>
            </div>
            <input type="text" class="form-control" name="userName" id="inputUsername" placeholder="Username" ngModel
              #usernameInput="ngModel" [disabled]="usernameTick" pattern="^[a-z0-9_]{5,50}$" required>
            <div class="input-group-append" *ngIf="!usernameTick">
              <button class="input-group-text btn btn-outline-primary" [disabled]="usernameInput.invalid"
                (click)="checkUserName()">Check</button>
            </div>
            <span class="inputCheck" *ngIf="usernameTick"><i class="fas fa-check"></i></span>
          </div>
          <span class="help-block" style="color:red;" *ngIf="usernameInput.invalid && usernameInput.touched">Please
            enter a username with 5 characters of alphabet and numbers</span>
          <span class="help-block" style="color:red;" *ngIf="firstNameInput.invalid && firstNameInput.touched">Please
            enter your name</span>
          <!-- firstName -->
          <div class="input-group my-3 divFirstName">
            <div class="input-group-append">
              <span class="input-group-text inputIcons"><i class="fas fa-user-tie"></i></span>
            </div>
            <input type="text" class="form-control" id="inputFirstName" placeholder="First Name" name="firstName"
              ngModel #firstNameInput="ngModel" pattern="^[A-Za-z]{3,30}$" required>
          </div>
          <!-- lastName -->
          <div class="input-group my-3 divLastName">
            <div class="input-group-append">
              <span class="input-group-text inputIcons"><i class="fas fa-user-tag"></i></span>
            </div>
            <input type="text" class="form-control" id="inputLastName" placeholder="Last Name" name="lastName" ngModel>
          </div>
          <!-- emailAddress -->
          <div class="input-group">
            <div class="input-group-append">
              <span class="input-group-text inputIcons"><i class="fas fa-envelope"></i></span>
            </div>
            <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" ngModel
              placeholder="Enter Email" name="emailAddress" #emailInput="ngModel"
              pattern="^[a-zA-Z0-9_!#$%&’*+/=?`{|}~^.-]+@[a-zA-Z0-9.-]+$" required>
          </div>
          <small id="emailHelp" style="display: block;" class="text-muted">We'll never share your email with anyone
            else.</small>
          <span class="help-block" style="color:red;" *ngIf="emailInput.invalid && emailInput.touched">Please
            enter a valid email id</span>
          <!-- countryCode -->
          <div class="input-group mt-3">
            <div class="input-group-prepend">
              <label class="input-group-text inputIcons">Country Code</label>
            </div>
            <ng-select class="form-control" ngModel name="countryCode">
              <ng-option [disabled]="true" value="">Select</ng-option>
              <ng-option *ngFor="let item of countryCodes | keyvalue" [value]="item.value">{{item.key}}</ng-option>
            </ng-select>
          </div>
          <!-- contactNumber -->
          <div class="input-group mt-3">
            <div class="input-group-append">
              <span class="input-group-text inputIcons"><i class="fas fa-mobile-alt"></i></span>
            </div>
            <input type="text" class="form-control" id="inputPhoneNumber" placeholder="Contact Number" ngModel
              name="contactNumber">
          </div>
          <!-- password -->
          <div class="input-group  mt-3">
            <div class="input-group-append">
              <span class="input-group-text inputIcons"><i class="fas fa-key"></i></span>
            </div>
            <input class="form-control" #inputPassword type="password" placeholder="Password" ngModel name="password"
              #passwordInput="ngModel" pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$%^&+=])(?=\S+$).{8,}$"
              required>
            <div class="input-group-append" (click)="togglePasswordText(inputPassword)">
              <button class="input-group-text passwordinputIcons">
                <span *ngIf="!passwordText"><i class="far fa-eye"></i></span>
                <span *ngIf="passwordText"><i class="far fa-eye-slash"></i></span>
              </button>
            </div>
          </div>
          <span class="help-block" style="color:red;" *ngIf="passwordInput.invalid && passwordInput.touched">Password
            of minimum 8 character must contains: <ul>
              <li>Must contain an uppercase letter</li>
              <li>Must contain an lowercase letter</li>
              <li>Must contain a number</li>
              <li>Must contain a special character</li>
            </ul>
          </span>
          <!-- confirmPassword -->
          <div class="input-group  mt-3">
            <div class="input-group-append">
              <span class="input-group-text inputIcons"><i class="fas fa-check-double"></i></span>
            </div>
            <input class="form-control" #confirmPassword type="password" name="confirmPass"
              placeholder="Confirm Password" ngModel #confirmPass="ngModel" required>
            <div class="input-group-append">
              <span class="input-group-text passwordinputIcons" (click)="toggleConfirmPasswordText(confirmPassword)">
                <span *ngIf="!confirmpasswordText"><i class="far fa-eye"></i></span>
                <span *ngIf="confirmpasswordText"><i class="far fa-eye-slash"></i></span>
              </span>
            </div>
          </div>
          <span class="help-block" style="color:red;"
            *ngIf="(passwordInput.value != confirmPass.value) && confirmPass.touched">Password
            and Confirm Password must match</span>
          <!-- termsCheckBox -->
          <div class="form-check mt-3">
            <label class="form-check-label" for="termsCheck">
              <input type="checkbox" class="form-check-input" id="termsCheck" style="margin-top:0.7em;" required>
              I accept<button class="btn btn-link">Terms and Condition</button>
            </label>
          </div>
          <div style="text-align:center" class="mt-3">
            <button type="reset" class="btn btn-secondary" style="margin-right: 1.5em;" (click)="resetAll()">
              Reset</button>
            <button type="submit" [disabled]="registerForm.invalid"
              class="btn btn-primary btn-lg">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>