
.leftBottomButton {
  float: left;
}

.rightBottomButton {
  float: right;
}

.signUpUpperDiv {
  text-align: center;
}

.signUpMainDiv {
  margin-top: 2em;
}

.inputCheck {
  margin: 0.05em;
  padding: .45rem .6rem;
  color: green;
  border: 1px solid green;
  border-radius: 50% !important;
}

.divFirstName {
  width: 47%;
  float: left;
}

.divLastName {
  width: 47%;
  float: right;
}

.divPassword {
  width: 90%;
}
.inputIcons{
  padding: .65rem .75rem;
}
.passwordinputIcons{
  padding: .4rem .7rem;
  background-color: blueviolet;
  color: white;
}
