.headingDiv{
  height: 15rem;
  text-align: center;
  justify-content: center;
  vertical-align: middle;
  /* line-height: 15rem; */
}
.headingTitle{
  font-size: 30px;
  line-height: normal;
  padding: 10% 0;
}
.infoDiv{
  text-align: justify;
}

.infoSubmenu{
  display: list-item;
  list-style-type: circle;
  margin-left: 1.5rem;
}

